.ShoppingCarWidget{
    font-size: 30px;
    color:rgb(255, 255, 255,0.7);
}
    .itemsInCar{
        font-size: 15px;
        margin-left: -18px;
        margin-top: -15px;
        color: white;
    }