.SignUpContainer{
    height: 100vh;
    width: 100vw;
    background: rgb(255, 255, 255);
}
.SignUpContainer_loginButton{
    padding-top: 15px;
}

.SignUpContainer_logo{
    margin-top: 50px;
    width: 177.54px;
    max-height: 61.82px;
}

.SignUpContainer_titulo{
    color: #10174b;
    font-size: 26px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}





.fade-appear {
    opacity: 0;
    z-index: 1;
  }
.fade-appear-active{
    opacity: 1;
    transition: opacity 1000ms linear;
}
.fade-appear-done{
    opacity: 1;
  }

.fade-enter{
    opacity: 0;
    transition: opacity 1000ms linear;
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms linear;
}
.fade-enter-done{
    opacity: 1;
}
.fade-exit{
    opacity: 1;
    transition: opacity 1000ms linear;
}

.fade-exit-active{
    opacity: 0;
    transition: opacity 1000ms linear;
}

.fade-exit-done{
    opacity: 0;
}