.SignUpContainer{
    height: 100vh;
    width: 100vw;
    background: rgb(255, 255, 255);
}
.SignUpContainer_loginButton{
    padding-top: 15px;
}

.SignUpContainer_logo{
    margin-top: 50px;
    width: 177.54px;
    max-height: 61.82px;
}

.SignUpContainer_titulo{
    color: #10174b;
    font-size: 26px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}

.rowFormAndVerifyCode{
    position: relative;
    z-index: 1;
}
.showSpinner_signUp{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
}