.PaymentMethod{
    padding: 10px 10px 10px 10px;
    background-color: white;
    color:rgb(149, 149, 149);
    font-size: 14px;
    font-weight: 500;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    border-radius: 25px 25px 25px 25px;
}
.PaymentMethod i{
    font-size: 22px;
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
}

.PaymentMethod_icon{
    margin-left: auto;
}