.seccionAUnPasoConXcala{
    width: 90%;
}
.AUnPasoTitulo{
    color: white;
    line-height: 25px;
    font-weight: 700;
    font-size:25px;
    font-family: 'Nunito', sans-serif;
    margin-top: 100px;
}
.AUnPasoParrafo{
    color: white;
    font-size: 15px;
    line-height: 20px;
}

.email{
    font-weight: bold;
}

.seccionBotonesEmailVerify{
    width: 90%;
    margin-top: 70px;
}

