.QuestionnaireContainer{
    height: 100vh;
    width: 100vw;
}

@media only screen and (min-width: 375px){
    .QuestionnaireContainer{
        width: 90vw;
    }
}

.QuestionnaireContainer_sticky-top{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}
/* .QuestionnaireContainer_loginButton{
    padding-top: 15px;
} */

.QuestionnaireContainer_logo{
    min-width: 177.54px;
    max-width: 177.54px;
    min-height: 61.82px;
    max-height: 61.82px;
}
.QuestionnaireContainer_titulo{
    margin-top: 7px;
    color: #10174b;
    font-size: 20px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    line-height: 1;
}
.QuestionnaireContainer_titulo span{
    font-weight: 600;
}

.QuestionnaireContainer_Age_City_y_gender_Questions{
    margin-top: 30px;
}

.QuestionnaireContainer_numberChildren{
    margin-top: 30px;
}

.QuestionnaireContainer_label{
    color: #10174bcc;
    height:40px;
    margin:8px 0px 8px 0px;
    line-height:1;
    font-weight:400;
    font-size: 17px;
    margin-right:-30px
}