@media only screen and (min-width: 1440px) {
    .centerDisplay{
        width: 70%;
        margin-left:auto;
        margin-right: auto;
    }
    .centerDisplayHalf{
        width: 50%;
        margin-left:auto;
        margin-right: auto;
    }
}
<<<<<<< HEAD

.DataSelectorRow{
    margin-top: 25px;
    margin-bottom: 25px;
}
=======
>>>>>>> 7097e6d0444c4c8cd182c5c0d1e94df2c95b2e0c
