html{
    height: 100%;
}

.overFlowYHidden{
    overflow-y: hidden;
}

.loginStyle{
    background-image: linear-gradient( #080e6d66, #080e6d66),url("./assets/fondo.png");  
    background-color:rgb(0, 0, 8);
    background-repeat: no-repeat;
    background-size: cover;
    min-width:100%;
}

.myAccountStyle{
    background-color: white;
}

#container{
    height:100%;
    position: relative;
}

#preloader,#root,#overlay,#ownModal{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

#root{
    z-index: 1;
}

/* --------------------------------INICIO--overlay loader----------------------------------- */
#preloader{
    z-index: 3;
}

.overlayOn{
    min-height: 100vh;/* Full width (cover the whole page) */ /* Full height (cover the whole page) */
    background-color: rgb(47, 39, 137);
    /* background-image: linear-gradient( #080e6d66, #080e6d66),url("./assets/fondo.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.2;
    z-index: 2;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
                        
#preloader{
    margin-top:25vh;
}
/* -------------------------------FIN---overlay loader----------------------------------- */
/* -------------------------------------------------------------------------------------- */

.ownModal{
    min-height: 100vh;/* Full width (cover the whole page) */ /* Full height (cover the whole page) */
    background-color:rgb(0, 0, 0,0.8);
    z-index: 2;
}


/* Rippler effect pure CSS */
/* NOTE: This is the example  */
/* .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  } */

  /* background: rgb(97,253,125);
    background: -moz-radial-gradient(circle, rgba(97,253,125,1) 0%, rgba(43,184,38,1) 52%) center/15000%;
    background: -webkit-radial-gradient(circle, rgba(97,253,125,1) 0%, rgba(43,184,38,1) 52%) center/15000%;
    background: radial-gradient(circle, rgba(97,253,125,1) 0%, rgba(43,184,38,1) 52%) center/15000%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#61fd7d",endColorstr="#2bb826",GradientType=1); */