.InputForm input{
    font-weight: 500;
    font-size: 14px;
    padding: 4px 10px 4px 10px;
    background-color:white;
    border-radius: 50px;
    width: 100%;
}
.InputForm input::placeholder{
    font-weight: 500;
    font-size: 14px;
    padding: 4px 10px 4px 0px;
    opacity: 0.5;
}
.InputForm input:focus{
    outline: none;
}


.InputForm_blue input{
    color: rgb(41, 171, 226);
    border: 1px solid rgb(41, 171, 226);
}
.InputForm_blue input::placeholder{
    color: rgb(41, 171, 226);
}

.InputForm_red input{
    color: #ed1e79;
    border: 1px solid #ed1e79;
}
.InputForm_red input::placeholder{
    color: #ed1e79;
}

.InputForm_green input{
    color: #00ef7f;
    border: 1px solid #00ef7f;
}
.InputForm_green input::placeholder{
    color: #00ef7f;
}

.InputForm_grey input{
    color: grey;
    border: 1px solid grey;
}
.InputForm_grey input::placeholder{
    color: grey;
}