  .logo {
    width: 200px;
    height: 200px;
    position: relative;
  }
  .logo svg{
    width: 120px;
    height: 120px;
    left: 40px;
    top:35px;
    position: absolute;
  }
  .logo div {
    width: 200px;
    height: 200px;
    position: absolute;
  }
  .logo svg {
    fill: #fff;
  }
  .logo div {
    width: 160px;
    height: 160px;
    margin: 20px;
    border-radius: 20%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    mix-blend-mode: multiply;
    -webkit-animation: 2s cubic-bezier(0.66, -0.7, 0.27, 1.6) infinite;
            animation: 2s cubic-bezier(0.66, -0.7, 0.27, 1.6) infinite;
  }
  .logo div:nth-child(1) {
    background-color: #29ffff;
    -webkit-animation-name: rotate-1;
            animation-name: rotate-1;
  }
  .logo div:nth-child(2) {
    background-color: #ff65ff;
    -webkit-animation-name: rotate-2;
            animation-name: rotate-2;
  }
  .logo div:nth-child(3) {
    background-color: #ffc;
    -webkit-animation-name: rotate-3;
            animation-name: rotate-3;
  }
  @-webkit-keyframes rotate-1 {
    to {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
  }
  @keyframes rotate-1 {
    to {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
  }
  @-webkit-keyframes rotate-2 {
    to {
      -webkit-transform: rotate(225deg);
              transform: rotate(225deg);
    }
  }
  @keyframes rotate-2 {
    to {
      -webkit-transform: rotate(225deg);
              transform: rotate(225deg);
    }
  }
  @-webkit-keyframes rotate-3 {
    to {
      -webkit-transform: rotate(315deg);
              transform: rotate(315deg);
    }
  }
  @keyframes rotate-3 {
    to {
      -webkit-transform: rotate(315deg);
              transform: rotate(315deg);
    }
  }
  