
.PlusMinusInput .backGround{
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(126,164,251,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(126,164,251,0.3);
  box-shadow: 0px 0px 10px 2px rgba(126,164,251,0.3);
  /* NOTE: webkit para compatibilidad ios safari del box-shadow */
  -webkit-appearance: none;
  text-align: center;
}

.PlusMinusInput input {
    margin: 0;
    padding: 0;
    border: none;
    color: rgba(16, 23, 75, 0.651);
  }
  
.PlusMinusInput input:focus {
    /* border: none; */
    outline: none;
  }
  
 
.PlusMinusInput input {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align:center;
    background: #fff;
  }
   
  
.PlusMinusInput .minus{
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
  }

.PlusMinusInput .plus{
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
  }

.PlusMinusInput .minus,.PlusMinusInput .plus{
    color: white;
    font-weight: bold;
    background: rgb(126, 164, 251,0.8);
    /* background: -moz-linear-gradient(270deg, rgba(126,164,251,1) 0%, #32348b 100%);
    background: -webkit-linear-gradient(270deg, rgba(126,164,251,1) 0%, rgba(50,52,139,1) 100%);
    background: linear-gradient(270deg, rgba(126,164,251,1) 0%, rgba(50,52,139,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ea4fb",endColorstr="#32348b",GradientType=1); */
}