@media only screen and (min-width: 768px){
    .pcControlerScreen{
        width: 70%;
        margin-left:auto;
        margin-right: auto;
    }
}


.accountTitle{
    margin-top:50px;
    margin-left:15px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #3d4c88;
    line-height: 25px;
    z-index: 3;
}

@media only screen and (min-width: 768px){
    .accountTitle{
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }
}

.iconOpcion{
    font-size: 80px;
    font-weight: 50;
    /* color: #3d4c88; */
    background: -webkit-linear-gradient(#eb1e79, #3d4c88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* --- */
    margin-top:40px;
    margin-bottom: 10px;
    text-align: center;
}

.titleBoxAccountOption{
    margin-left:40px;
    margin-right: 40px;
    font-size: 15px;
    font-weight: 400;
    color: #3d4c88;
    line-height: 15px;
    text-align: center;
}

@media only screen and (max-width: 365px) {
    .titleBoxAccountOption{
        margin-left:30px;
        margin-right: 30px; 
        font-size: 14px;
    }
}


.firstRow{
    margin-top:-30px;
}

.secondRow{
    margin-bottom:5px;
}

.firstBoxAccountOption,.secondBoxAccountOption,.thirdBoxAccountOption,.FRcard{
    height: 190px;
    border-radius: 15px;
}

.firstBoxAccountOption{
    border-right:0.5px solid rgb(255, 255, 255,0.0);
    border-bottom: 0.5px solid rgb(255, 255, 255,0.0);
}

.secondBoxAccountOption{
    border-left:0.5px solid rgb(255, 255, 255,0.0);
    border-bottom: 0.5px solid rgb(255, 255, 255,0.0);
}

.thirdBoxAccountOption{
    border-right:0.5px solid rgb(255, 255, 255,0.0);
    border-top: 0.5px solid rgb(255, 255, 255,0.0);
}

.fourthBoxAccountOption{
    border-left:0.5px solid rgb(255, 255, 255,0.0);
    border-top: 0.5px solid rgb(255, 255, 255,0.0);
}



.firstBoxAccountOption{
    
    position: relative;
    -webkit-box-shadow: 15px 15px 21px -19px rgba(0,0,0,0.40);
    -moz-box-shadow: 15px 15px 21px -19px rgba(0,0,0,0.40);
    box-shadow: 15px 15px 21px -19px rgba(0,0,0,0.40);
    
}

                .firstBoxAccountOptionOver{
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    width: 100%;height: 100%;
                    background-color: white;
                    border-radius: 15px;
                    z-index: 2;
                }

                .firstBoxAccountOptionOver:active{
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    width: 100%;height: 100%;
                    background-color: rgb(255, 255, 255,0.0);
                    border-radius: 15px;
                    z-index: 1;
                    transform: scale(0.9)
                }

.secondBoxAccountOption{
    
    position: relative;
    -webkit-box-shadow: -15px 15px 21px -19px rgba(0,0,0,0.40);
    -moz-box-shadow: -15px 15px 21px -19px rgba(0,0,0,0.40);
    box-shadow: -15px 15px 21px -19px rgba(0,0,0,0.40); 
}

                .secondBoxAccountOptionOver{
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    width: 100%;height: 100%;
                    background-color: white;
                    border-radius: 15px;
                    z-index: 2;
                }

                .accountDetailsIcon{
                    margin-left:10px;
                }

                .secondBoxAccountOptionOver:active{
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    width: 100%;height: 100%;
                    background-color: rgb(255, 255, 255,0.0);
                    border-radius: 15px;
                    z-index: 1;
                    transform: scale(0.9)
                }
.thirdBoxAccountOption{
    
    position: relative;
    -webkit-box-shadow: 15px -15px 21px -19px rgba(0,0,0,0.40);
    -moz-box-shadow: 15px -15px 21px -19px rgba(0,0,0,0.40);
    box-shadow: 15px -15px 21px -19px rgba(0,0,0,0.40);
    
}
                .thirdBoxAccountOptionOver{
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    width: 100%;height: 100%;
                    background-color: white;
                    border-radius: 15px;
                    z-index: 2;
                }

                .invoiceAddresIcon{
                    margin-left:25px;
                }

                .thirdBoxAccountOptionOver:active{
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    width: 100%;height: 100%;
                    background-color: rgb(255, 255, 255,0.0);
                    border-radius: 15px;
                    z-index: 1;
                    transform: scale(0.9)
                }

.FRcard{
    
    position: relative;
    -webkit-box-shadow: -15px -15px 21px -19px rgba(0,0,0,0.40);
    -moz-box-shadow: -15px -15px 21px -19px rgba(0,0,0,0.40);
    box-shadow: -15px -15px 21px -19px rgba(0,0,0,0.40);

}
                .fourthBoxAccountOptionOver{
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    width: 100%;height: 100%;
                    background-color: white;
                    border-radius: 15px;
                    z-index: 2;
                    
                }

                .fourthBoxAccountOptionOverDos{
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    width: 100%;height: 100%;
                    border-radius: 15px;
                    -webkit-box-shadow: -15px -15px 21px -19px rgba(0,0,0,0.40);
                    -moz-box-shadow: -15px -15px 21px -19px rgba(0,0,0,0.40);
                    box-shadow: -15px -15px 21px -19px rgba(0,0,0,0.40);
                    z-index: 1;
                    
                }

                .fourthBoxAccountOptionOver:active{
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    width: 100%;height: 100%;
                    background-color: rgb(255, 255, 255,0.0);
                    border-radius: 20px;
                    z-index: 1;
                    transform: scale(0.9)
                }

                

.buttonLogout button{
    background-color: #d2145a;
    color:white;
    width: 90%;
    height: 40px;
    border: 0px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
}


.buttonLogout button:active{
    transform:scale(0.98);
}
.buttonLogout button:focus{
    outline: none;
}

/* //------------------------------------------------------------------------------ */
/* //------------------------------------------------------------------------------ */
/* //------------------------------------------------------------------------------ */
/* //------------------------------------------------------------------------------ */
/* //------------------------------------------------------------------------------ */
/* //------------------------------------------------------------------------------ */
/* //------------------------------------------------------------------------------ */
/* //------------------------------------------------------------------------------ */
/* 
/*
ORDER DETAILS */

/* tab selector (filtro por tipo de pago) ---------------------------------------*/
.tab-orders{
    -webkit-box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.05);
    box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.05);
    margin-bottom: 0px;
}

.col-selector{
    background-color: rgb(255, 255, 255);
    color: rgb(114, 114, 114);
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.2;
    height: 50px;
    border-left: 1px solid rgb(234, 234, 234);
    border-right: 1px solid rgb(234, 234, 234);
}

.col-selector-active{
    background-color: rgb(255, 255, 255);
    color: rgb(114, 114, 114);
    font-weight: 900;
    font-size: 14px;
    border-bottom: 3px solid #3d4c88
}

/* filtro por estado ------------------------------------------------------------*/
.filtersContainer{
    font-size: 13px;
    color: grey;
    font-weight: 500;
    margin-top:10px;
    margin-bottom: 0px;
}

.col-stateFilter{
    text-align: end;
    margin-right: 0px;
}

        .filterBox{
            height: 30px;
        }

                .icon-filterBox{
                    margin-left: 10px;
                    margin-right: 0px;
                    text-align: end;
                }




/* orderList -------------------------------------------------------------------- */
.orderCard{
   border-bottom:1px solid rgb(194, 194, 194);
}

.orderCard a{
    color: black;
}

        .orderCardContent{
            margin-top:10px;
            margin-bottom: 10px;
        }

        .orderCardContent:active{
            transform: scale(0.9);
        }

                .orderIdAndDateCard{
                    display: flex;
                    margin-bottom: 5px;
                }
                        .orderIdCard{
                            color:white;
                            font-weight: 400;
                            height: 30px;
                            min-width: 120px;
                            border-radius: 15px;
                            font-size: 15px;
                            position: relative;
                            z-index: 999;
                        }

                        /* .overlay-orderIdCard{
                            position: absolute;
                            top:0;left:0;right:0;bottom:0;
                            width: 95%;height: 85%;
                            margin-left:3px;
                            margin-top:2.5px;
                            background-color: white;
                            border-radius: 15px;
                            z-index: 1000;
                        } */
                                .enviadoAlProveedor{
                                    background-image:linear-gradient(#eb1e79,#d2145a) ;
                                    /* color: #d2145a; */ 
                                }
                                .enProduccion{
                                    background-image:linear-gradient(#1eebcc,#146ad2) ;
                                    /* color: #146ad2 */
                                }
                                .listoParaDespacho{
                                    background-image:linear-gradient(#e0d46a,#ddcc32) ;
                                }
                                .despachado{
                                    background-image:linear-gradient(#99aa2b,#95a817) ;
                                }
                                .finalizado{
                                    background-image:linear-gradient(#75db65,#14d23a) ;
                                }
                                .cancelado{
                                    background-image:linear-gradient(#814559,#660b2c) ;
                                }
                                
                        .orderStateCard{
                           margin-left:5px;
                           font-size: 12px;
                           font-weight: 400;
                        }
                                .stateCircle{
                                    height: 13px;
                                    width: 13px;
                                    border-radius: 50%;
                                    border:2px solid;
                                    margin-right: 5px;
                                }

                                .orderStateCard>.enviadoAlProveedor{
                                    background-image:linear-gradient(white,white) ;
                                    border-color:#d2145a;
                                }
                                .orderStateCard>.enProduccion{
                                    background-image:linear-gradient(white,white) ;
                                    border-color:#146ad2;
                                }
                                .orderStateCard>.listoParaDespacho{
                                    background-image:linear-gradient(white,white) ;
                                    border-color:#ddcc32;
                                }
                                .orderStateCard>.despachado{
                                    background-image:linear-gradient(white,white) ;
                                    border-color:#95a817;
                                }
                                .orderStateCard>.finalizado{
                                    background-image:linear-gradient(white,white) ;
                                    border-color:#14d23a;
                                }
                                .orderStateCard>.cancelado{
                                    background-image:linear-gradient(white,white) ;
                                    border-color:#660b2c;
                                }


                .viewOrderButton{
                    color:#3d4c88;
                    font-size: 25px;
                    margin-bottom: -12vh;
                }
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/*
/* MODAL FILTER BY STATE*/

.modalFilterByStateInsideCard{
    background-color: white;
    margin-top:35vh;
    margin-left:auto;
    margin-right: auto;
    width: 90%;
    border-radius: 15px;
    height: 220px;
}

@media only screen and (min-width: 768px){
    .modalFilterByStateInsideCard{
        margin-top:30vh;
        margin-left:auto;
        margin-right: auto;
        width: 50%
    }
}
        .modalFilterByStateContent{
            margin-top:15px;
            width: 100%;
        }
            
            .modalTitle{
                font-family: "Nunito", sans-serif;
                font-weight: 700;
                font-size: 19px;
                color: #3d4c88;
                line-height: 25px;
            }
            
            .backOrderDetails{
                font-size: 40px;
                color: #6aff76;
            }

            .filterByStateOptionBox{
                margin-bottom: 5px;
                font-weight: 400;
            }
            .filterByStateOptionBox:active{
                transform: scale(0.9);
                font-weight: 900;
            }
            

            .circleState{
                height: 20px;
                width:20px;
                border-radius: 15px;
                margin-right: 4px;
            }
                    .CSEnEspera{
                        background-color: #d2145a;
                    }
                    .CSEnProduccion{
                        background-color: #146ad2;
                    }
                    .CSDespachado{
                        background-color: #95a817;
                    }
                    .CSEnCamino{
                        background-color: #ddcc32;
                    }
                    .CSFinalizado{
                        background-color: #14d23a;
                    }
                    .CSCancelado{
                        background-color: #660b2c;
                    }
                    
.removeFilter{
    margin-top:15px;
    color:red;
    font-weight: 400
}
.removeFilter:active{
    transform: scale(0.9);
    font-weight: bold
}

.removeFilterIcon{
    font-size: 25px;
}

            /* .applyFilterBtn button{
                margin-top:10px;
                color: #3d4c88;
                background-color: white;
                width:50%;
                height: 50px;
                border:none;
                border-radius: 15px;
                -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.3);
                box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.3);
            }
            .applyFilterBtn button:active{
                transform: scale(0.9)
            }
            .applyFilterBtn button:focus{
                outline: none;
            }  */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/*
/* SPECIFIC ORDER */
.SpecificOrderContainer{
    margin-top:40px;
}
.numberOrderTitle{
    color:black;
    font-size: 35px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    line-height: 25px;
    margin-top:15px;
}
.paragraphOrderDetails{
    font-weight: 400;
    margin-top:5px;
    line-height: 20px;
}

.orderIdCard-SpecificOrder{
    color:white;
    font-weight: 400;
    height: 30px;
    min-width: 150px;
    border-radius: 15px;
    font-size: 15px;
    position: relative;
    z-index: 999;
}

.supplierName{
    margin-top:20px;
}

.orderItemsDetailsBox{
    margin-top:20px;
}

.orderItemsDetailsTitles{
    font-weight: 700;
    /* border-bottom: 3px solid #3d4c88; */
}

.dividerSpecificOrderDetails{
    margin-bottom: 10px;
    height: 2px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-image: linear-gradient(to right,transparent,#3d4c88,#6c9fd1,transparent);
}

.container-listItemsOfOrderOff{
    margin-bottom: 70px;
}
.container-listItemsOfOrderOn{
    margin-bottom: 300px;
}

.orderItemsDetailsContent{
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(190, 190, 190);
    font-size:14px;
}


/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/*
/* STICKY-FOOTER FOR SPECIFIC ORDER DETAILS */

.sticky-footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
              }


#totalOrderBox{
    transition-duration: 150ms;
}

.totalOrderBoxOff{
    width: 100%;
    height: 60px;
    border-radius: 15px 15px 0px 0px;
    background-color: rgb(61, 76, 136,0.95);
    -webkit-box-shadow: 0px -5px 40px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -5px 40px -10px rgba(0,0,0,0.5);
    box-shadow: 0px -5px 40px -10px rgba(0,0,0,0.5);
}
.totalOrderBoxOn{
    width: 100%;
    height: 290px;
    border-radius: 15px 15px 0px 0px;
    background-color: rgb(61, 76, 136,0.95);
    -webkit-box-shadow: 0px -5px 40px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -5px 40px -10px rgba(0,0,0,0.5);
    box-shadow: 0px -5px 40px -10px rgba(0,0,0,0.5);
}


.swipeUpIcon{
    color: white;
    font-size: 25px;
    position: relative;
    margin-bottom: -30px;
    -webkit-animation: mymove 0.8s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-out;
    animation: mymove 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 10px;}
  }
  
  @keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 10px;}
  }


.swipeDownIcon{
    color: #ffffff;
    font-size: 25px;
    position: relative;
    margin-bottom: -20px;
    -webkit-animation: mymoveDown 0.8s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-out;
    animation: mymoveDown 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymoveDown {
    from {top: 10px;}
    to {top: 0px;}
  }
  
  @keyframes mymoveDown {
    from {top: 10px;}
    to {top: 0px;}
  }





#totalOrderBoxContent{
    height: 100%;
    top:0;left:0;right:0;bottom:0;
    position: absolute;
    color: white;
}
.totalOrderBoxContentOn{
    margin-top:20px;
    margin-left:10px;
    margin-right: 10px;
    text-align: start;
    font-size: 25px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}
/* @media only screen and (min-width: 768px){
    .totalOrderBoxContentOn{
        margin-left:300px;
        margin-right: 300px;
    }
} */
.totalOrderBoxContentOff{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}


#orderDetailsTitlePanUp{
    transition-duration: 1500ms;
    text-align: center;
}

.totalLabel{
    font-size:15px;
    font-weight: 400;
    opacity: 0.75;
}

.totalValue{
    font-size:15px;
    font-weight: 400;
    opacity: 0.75;
}

.yourIncome{
    border-top:1px dashed rgb(172, 172, 172);
    border-bottom: 1px dashed rgb(172, 172, 172);
}

.totalLabelSubtotal{
    font-size:17px;
    font-weight: 700;
    line-height: 20px;
}
.totalValueSubtotal{
    font-size:17px;
    font-weight: 700;
}

.totalCostSubTotal{
    border-top:1px dashed rgb(172, 172, 172);
}

.yourUtility{
    border-top:2px dashed rgb(172, 172, 172);
}

.specificOrderOptionsBtn{
    margin-top:15px;
}
.specificOrderOptionsBtn button{
    min-width: 45vw;
    height: 80px;
    border-radius: 15px;
    background-color: white;
    border:none;
    font-size: 15px;
    color:#3d4c88;
    -webkit-box-shadow: 10px 10px 35px -15px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 35px -15px rgba(0,0,0,1);
    box-shadow: 10px 10px 35px -15px rgba(0,0,0,1);
    font-weight: 700
}
@media only screen and (min-width: 768px){
    .specificOrderOptionsBtn button{
        min-width: 30vw;
    }
}
.specificOrderOptionsBtn button:active{
    transform: scale(0.9)
}
.specificOrderOptionsBtn button:focus{
    outline: none;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/*
/* MODAL TRACK ORDER**/

.modalTrackOrderInsideCard{
    background-color: white;
    margin-top:12vh;
    margin-left:auto;
    margin-right: auto;
    width: 90%;
    border-radius: 15px;
}

@media only screen and (min-width: 768px){
    .modalTrackOrderInsideCard{
        margin-top:12vh;
        margin-left:auto;
        margin-right: auto;
        width: 36%; 
    }
}

.modalTrackOrderContent{
    padding-top:15px;
    padding-bottom: 15px;
    /* position: relative; */
}

.numberOrderTitleModal{
    color:black;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    line-height: 25px;
    height: 40px;
}

.paragraphOrderDetailsModal{
    font-weight: 400;
    margin-top:5px;
    line-height: 20px;
    height: 25;
}

.orderStates{
    margin-top:10px;
    height: 50px;
    font-size: 12px;
}
.statesTextAxis{
    height: 50px;
    margin-left: 1px;
}
.circleStatesOverAxis{
    margin-left:15px;
    position: relative;
    height: 50px;
    width: 30px;
}
.axisStates{
    top:0;left:0;
    margin-left:29px;
    /* margin-top en funcion de la altura de:
    margin-top: (relacionado a orderStates)
    col numberOrderTitleModal +
    col paragraphOrderDetails +
    1/2(altura col orderStates) */
    margin-top:100px;
    position: absolute;
    width: 2px;
    height: 1px;
    background-color: rgb(119, 119, 119);

    -webkit-animation: axisanimation 1s;  /* Safari 4.0 - 8.0 */
-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
-webkit-animation-timing-function: ease-in-out;
animation: axisanimation 1s;
animation-iteration-count: 1;
animation-timing-function: ease-in-out;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes axisanimation {
from {background-color: rgb(255, 255, 255);}
to {background-color: rgb(119, 119, 119);}
}

@keyframes axisanimation {
from {background-color: rgb(255, 255, 255);}
to {background-color: rgb(119, 119, 119);}
}


.axisStates-One{
    height: 0px;
}
.axisStates-Two{
    height: 65px;
}
.axisStates-Three{
    height: 130px;
}
.axisStates-Four{
    height: 195px;
}
.axisStates-Five{
    height: 235px;
}
.axisStates-Six{
    height: 290px;
}


.circleOverAxis{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:7px solid;
}

.circleOverAxis-last{
    border-width:0px;
    border-style:solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

    -webkit-animation: bordeanimation 1.5s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-in-out;
    animation: bordeanimation 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bordeanimation {
    from {border-width: 0px;}
    to {border-width: 15px;}
  }
  
  @keyframes bordeanimation {
    from {border-width: 0px;}
    to {border-width: 15px;}
  }


.circleStatesOverAxis>.enviadoAlProveedor{
    background-image:linear-gradient(white,white) ;
    border-color:#d2145a;
}
.circleStatesOverAxis>.enProduccion{
    background-image:linear-gradient(white,white) ;
    border-color:#146ad2;
}
.circleStatesOverAxis>.listoParaDespacho{
    background-image:linear-gradient(white,white) ;
    border-color:#ddcc32;
}
.circleStatesOverAxis>.despachado{
    background-image:linear-gradient(white,white) ;
    border-color:#95a817;
}
.circleStatesOverAxis>.finalizado{
    background-image:linear-gradient(white,white) ;
    border-color:#14d23a;
}
.circleStatesOverAxis>.cancelado{
    background-image:linear-gradient(white,white) ;
    border-color:#660b2c;
}
