.TabsSelectorTabRow{
    margin-top:15px;
    margin-bottom: 15px;
}
.TabsSelectorTab{
    text-align: center;
<<<<<<< HEAD
    height: 50px;
=======
    height: 35px;
>>>>>>> 7097e6d0444c4c8cd182c5c0d1e94df2c95b2e0c
    width: 100%;
    cursor: pointer;
    -webkit-box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.05);
    box-shadow: 0px 15px 15px -3px rgba(0,0,0,0.05);
}

.TabsSelectorTab-active{
    background-color: rgb(255, 255, 255);
    color: darkblue;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 5px solid darkblue;
}
.TabsSelectorTab-desactive{
    background-color: rgb(255, 255, 255);
    color: rgb(155, 155, 155);
    font-size: 14px;
    border-bottom: none;
}
