.SharingButton{
    background:-moz-linear-gradient(90deg, #00d334 0%, #2bb826 100%);
    background:-webkit-linear-gradient(90deg, #00d334 0%, rgba(43,184,38,1) 100%);
    background:linear-gradient(90deg, #00d334 0%, rgba(43,184,38,1) 100%);
    border: none;
    border-radius:10px;
    height:40px;
    width:auto;
    padding:0px 10px 0px 10px;
    color: white;
    display: flex;
    align-items: center;
}
.SharingButton:focus{
    outline: none;
}

.SharingButton i{
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-right: 3px;
    /* text-shadow: rgb(71, 71, 71,0.5) 1px 1px 10px; */
}