@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-at:before {
  content: "\61";
}
.icon-lock:before {
  content: "\62";
}
.icon-arroba:before {
  content: "\63";
}
.icon-locked:before {
  content: "\64";
}
.icon-atlight:before {
  content: "\65";
}
.icon-s-car:before {
  content: "\66";
}
.icon-menu:before {
  content: "\67";
}
.icon-pencil:before {
  content: "\68";
}
.icon-shipping-address:before {
  content: "\6a";
}
.icon-account-details:before {
  content: "\6c";
}
.icon-order-details:before {
  content: "\69";
}
.icon-account-details-5px:before {
  content: "\6d";
}
.icon-invoice-address-5px:before {
  content: "\6e";
}
.icon-order-details-5px:before {
  content: "\6f";
}
.icon-shipping-address-5px:before {
  content: "\70";
}
.icon-accoun-tdetails-7px:before {
  content: "\71";
}
.icon-order-details-7px:before {
  content: "\73";
}
.icon-shipping-address-7px:before {
  content: "\74";
}
.icon-edit-pencil:before {
  content: "\75";
}
.icon-edit-pencil-10px:before {
  content: "\76";
}
.icon-banknote:before {
  content: "\77";
}
.icon-filter:before {
  content: "\78";
}
.icon-cancel-circled:before {
  content: "\79";
}
.icon-arrow-circle-left:before {
  content: "\7a";
}
.icon-arrow-circle-right:before {
  content: "\41";
}
.icon-arrow-circle-up:before {
  content: "\42";
}
.icon-arrow-circle-down:before {
  content: "\43";
}
.icon-arrow-circle-o-down:before {
  content: "\44";
}
.icon-arrow-circle-o-left:before {
  content: "\45";
}
.icon-arrow-circle-o-right:before {
  content: "\46";
}
.icon-arrow-circle-o-up:before {
  content: "\47";
}
.icon-arrow-down:before {
  content: "\48";
}
.icon-arrow-left:before {
  content: "\49";
}
.icon-arrow-right:before {
  content: "\4a";
}
.icon-arrow-up:before {
  content: "\4b";
}
.icon-details:before {
  content: "\4c";
}
.icon-up-open-big:before {
  content: "\4d";
}
.icon-down-open-big:before {
  content: "\4e";
}
.icon-right-open-big:before {
  content: "\4f";
}
.icon-left-open-big:before {
  content: "\50";
}
.icon-invoice-address:before {
  content: "\51";
}
.icon-invoice-address-7px:before {
  content: "\6b";
}
.icon-check:before {
  content: "\72";
}
.icon-plus:before {
  content: "\53";
}
.icon-detailswithoutcircle:before {
  content: "\52";
}
.icon-search-minus:before {
  content: "\54";
}
.icon-search-plus:before {
  content: "\55";
}
.icon-zoom-out:before {
  content: "\56";
}
.icon-zoom-in:before {
  content: "\57";
}
.icon-arrows-alt:before {
  content: "\58";
}
.icon-resize:before {
  content: "\59";
}
