/* MODAL OPEN CASE**/
.modalOpenCaseInsideCard{
    background-color: white;
    margin-top:7.5vh;
    margin-left:auto;
    margin-right: auto;
    width: 90%;
    height: 85vh;
    border-radius: 15px;
}

@media only screen and (min-width: 768px){
    .modalOpenCaseInsideCard{
        margin-top:7.5vh;
        margin-left:auto;
        margin-right: auto;
        width: 36%; 
    }
}