.OnboardingContainer{
    height: 100vh;
    width: 100vw;
    background: rgb(126,164,251);
    background: -moz-radial-gradient(circle at top left, rgba(126,164,251,1) 15%, #10174b 55%);
    background: -webkit-radial-gradient(circle at top left, rgba(126,164,251,1) 15%, rgba(16,23,75,1) 55%);
    background: radial-gradient(circle at top left, rgba(126,164,251,1) 15%, rgba(16,23,75,1) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ea4fb",endColorstr="#10174b",GradientType=1);

    /* background: rgb(126,164,251);
    background: -moz-radial-gradient(circle at top left, rgba(126,164,251,1) 15%, rgba(72,16,75,1) 55%, rgba(16,23,75,1) 10%);
    background: -webkit-radial-gradient(circle at top left, rgba(126,164,251,1) 15%, rgba(72,16,75,1) 55%, rgba(16,23,75,1) 10%);
    background: radial-gradient(circle at top left, rgba(126,164,251,1) 15%, rgba(72,16,75,1) 55%, rgba(16,23,75,1) 10%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ea4fb",endColorstr="#10174b",GradientType=1); */

    /* background: #7ea4fb;
    background: -moz-radial-gradient(circle at top left, rgba(126,164,251,1) 15%, #48104b 55%, rgba(16,23,75,1) 90%);
    background: -webkit-radial-gradient(circle at top left, rgba(126,164,251,1) 15%, rgba(72,16,75,1) 55%, rgba(16,23,75,1) 90%);
    background: radial-gradient(circle at top left, rgba(126,164,251,1) 15%, rgba(72,16,75,1) 55%, rgba(16,23,75,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ea4fb",endColorstr="#10174b",GradientType=1); */

}

.OnboardingContainer_loginButton{
    padding-top: 15px;
}

.OnboardingContainer_logo{
    width: 177.54px;
    max-height: 61.82px;
}

.OnboardingContainer_titulo{
    color: white;
    font-size: 26px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}

.OnboardingContainer_steps{
    margin-top: 50px;
    height: 200px;
    /* border: 1px solid white; */
    color: white;
}

.OnboardingContainer_footerOne{
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    width: 100%;

    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 19px;
    font-weight: lighter;
    line-height: 1.1;
}
.OnboardingContainer_footerOne p span{
    font-weight: bold;
}
.OnboardingContainer_footerOne_parrafo{
    margin-bottom: 30px;
}
.OnboardingContainer_footerOne a{
    width: 100%;
    text-decoration: none;
}