.centerHorizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerVertical{
  display: flex;
  align-items: center;
}

.subrayar {
  border-bottom: 1px solid white;
}

.textWhiteCenter {
  color: white;
  text-align: center;
}

.logo {
  height: 55px;
  margin-top: 45px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1.3px solid white;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0);
  color: white;
  width: 80%;
  height: 40px;
}

a{
  color:white;
  font-weight: 500;
}

button:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

button:active {
  zoom: 0.98;
}

button:focus {
  outline: none;
}

input {
  background-color: rgb(255, 255, 255, 0);
  border: 0px;
  padding-left: 10px;
  color: white;
}

input:focus {
  outline: none;
}

::placeholder {
  color: rgb(255, 255, 255, 0.7);
}

select{
  background-color: rgb(255, 255, 255, 0);
  border: 0px;
  padding-left: 10px;
  color: rgb(255, 255, 255, 0.7);
  margin-left:-4px;
  font-weight: 400;
  width: 350px;
}

select:focus {
  outline: none;
}

option{
  background-color: rgb(255, 255, 255,0.0);
  color:#000008;
}

.divider {
  border-bottom: 1.3px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

#seccionIngresar {
  margin-top: 40px;
  margin-bottom: 15px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#seccionIngresosExtra {
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 30px;
}

.icon{
  font-size: 25px;
  color:white;
  text-align: center;
}

.errorMsg{
  color:rgb(255, 255, 255);
  font-size: 10px;
  text-align: center;
  background-color: rgb(255, 0, 0);
  width: 80%;
}