.SignUpForm_form{
    margin-top: 40px;
    margin-bottom: 40px;
}

.SignUpForm_parrafo{
    color: #10174b;
    font-family: "Nunito", sans-serif;
    font-size: 19px;
    font-weight: 370;
    line-height: 1.1;
    text-align: center;
}

.SignUpForm_botones{
    margin-top: 15px;
    width: 100%;
    font-family: "Nunito", sans-serif;
}



.SignUpForm_TyC{
    text-align: center;
    font-size: 13px;
    line-height: 1;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 15px 15px 15px;
    background-color: rgb(255, 255, 255);
}