/* ELEMENTOS GENERALES:
-containerAut
-button,
-input
-placeholder
-select and option
-label
-title
-subtitle
-paragraph
-logoLeft
-logoCenter
-error
-a
-icons
---------------------------------------------------------------------------------*/
.auth {
  color: white;
}

.centerHorizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerVertical {
  display: flex;
  align-items: center;
}

.centerVerticalAndHorizontal {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/* BUTTON -------------------------------------------*/
.auth button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1.3px solid white;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0);
  color: white;
  height: 40px;
  width: 100%;
}

.auth button:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

.auth button:active {
  zoom: 0.98;
}

.auth button:focus {
  outline: none;
}

/* INPUT, INPUT DIVIDER & PLACEHOLDER--------------------------------*/
.auth input {
  background-color: rgb(255, 255, 255, 0);
  border: 0px;
  padding-left: 10px;
  color: white;
}

.auth input:focus {
  outline: none;
}

.grossInputDivider {
  border-bottom: 1.3px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thinInputDivider {
  border-bottom: 1px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.auth ::placeholder {
  color: rgb(255, 255, 255, 0.7);
}

/* SELECT & OPTION ----------------------------------*/
.auth select {
  background-color: rgb(255, 255, 255, 0);
  border: 0px;
  padding-left: 10px;
  color: rgb(255, 255, 255, 0.7);
  margin-left: -4px;
  font-weight: 400;
  width: 350px;
}

.auth select:focus {
  outline: none;
}

.auth option {
  background-color: rgb(255, 255, 255, 0);
  color: #000008;
}

/*  LABEL DATOS-------------------------------------*/
.labelDatos {
  color: white;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  height: 5px;
  margin-bottom: 25px;
}

/* TITULO, SUBTITULO, PARRAFO & BOLDTEXT----------------------*/
.authTitle {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  line-height: 25px;
  /* filter: blur(2px);
    -webkit-filter: blur(2px); */
}

.authSubtitle {
  font-weight: 400;
  text-align: center;
}

.authParagraph {
  color: white;
  font-size: 15px;
  line-height: 20px;
}

.boldText {
  font-weight: bold;
}

.centerText {
  text-align: center;
}

/* LOGOLEFT & LOGOCENTER ---------------------------*/
.authLogoCenter {
  height: 55px;
  margin-top: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.authLogoLeft {
  height: 55px;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}

.logoWithSubtitle {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.logoWithSubtitle span {
  color: white;
  text-align: center;
  margin-bottom: 4px;
  margin-left: 4px;
}

/* ERROR , a ,icon ----------------------------------------- */
.errorMsg {
  color: rgb(255, 255, 255);
  font-size: 10px;
  text-align: center;
  background-color: rgb(255, 0, 0);
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.link {
  color: white;
  border-bottom: 1px solid white;
}

.icon {
  font-size: 25px;
  color: white;
  text-align: center;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PANTALLA LOGIN
-logoCenter
-formLogin
-keepAndForgot
-registerHook
---------------------------------------------------------------------------------*/
.loginScreen {
  width: 80%;
}

.formLogin {
  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
}

.registerHook {
  margin-top: 100px;
  margin-bottom: 30px;
}

#linkReenviar {
  margin-bottom: -2px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PANTALLA SIGNUP
-logoWithSubtitle
-formSignuUp
-emailAndPasswordSignUp
-userPersonalData
 ---------------------------------------------------------------------------------*/
.signUpScreen {
  width: 90%;
}

.sendRegister{
    margin-top: 10px
}

.fechaNacimientoUsuario {
  margin-left: -20px;
  width: 145px;
}

.placeholder {
  color: rgb(255, 255, 255, 0.7);
  text-align: left;
  margin-left: 10px;
  font-weight: 400;
  min-width: 150px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PANTALLAS FORMS SENCILLOS
 -logoCenter
 -messageSimpleForm
 -formSencillo
 ---------------------------------------------------------------------------------*/
 .simpleFormScreen{
     width: 90%
 }

 .messageSimpleFormScreen{
     margin-top:100px
 }

 .simpleForm{
     margin-bottom: 50px;
 }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PANTALLAS MESSAGE
 -logoCenter
 -messageWithSimpleButton
 -btnMessage
 ---------------------------------------------------------------------------------*/
 .simpleMessageScreen{
    width: 90%
}

.simpleMessage{
    margin-top:100px;
    margin-bottom: 50px;
}
